body{
   background-image:url(images/thumb-1920-608245.jpg);
   background-repeat: no-repeat;
   background-size: cover; 
    background-attachment:fixed ;

   
}
#just{
    color: black;
    font-size: 90px;
}
#juss{
    color: black;
    font-size: 90px;
}
#help{
    background-color:rgb(114, 114, 114);
    color: black;
    font-size: 60px;
    border-radius: 25px;
}
#help:hover{
    color: rgb(31, 30, 30);
}